*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;

} 

.conteiner {
    display: block;
    font-size: 50px;
    color: #f9f9fc;
    text-align: center;
    align-items: center;
    height: 60px;
    background-color: #2c14e2;
}

.item1  {
    padding-left: 40px;
    display: inline flex;
    text-align: center;
    background-color: #260c8b;
    margin: 30px;
    color: #f9f9fc;
    font-size: 22px;
    border-radius: 5px;
    width: 100px;
    height: 100px;

}
.item2 {
    padding-left: 40px;
    display: inline flex;   
    text-align:center ;
    background-color: #260c8b;
    margin: 30px;
    color: #f9f9fc;
    font-size: 22px;
    border-radius: 5px;
    width: 100px;
    height: 100px;

}
.item3 {  
    padding-left: 40px;  
    display: inline flex;
    text-align:center ;
    background-color: #260c8b;
    margin: 30px;
    color: #f9f9fc;
    font-size: 22px;
    border-radius: 5px;
    width: 100px;
    height: 100px;

}
.item4 {
     padding-left: 40px;
    display: inline flex;
    text-align:center ;
    background-color: #260c8b;
    margin: 30px;
    color: #f9f9fc;
    font-size: 22px;
    border-radius: 5px;
    width: 100px;
    height: 100px; 
    }     
